<header>
  <div class="content">
    <h1 class="logo">
      <%= link_to (image_tag "logo.png", alt: t(:site_name)), root_path %>
    </h1>
      <% if current_user || ["sessions", "registrations", "passwords"].include?(controller_name) %>
        <%= render "shared/user_menu" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "sign-in" %>
      <% end %>

    <% if notice || alert %>
      <div class="messages">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
  </div>

</header>
