<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:site_title) %></title>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %>">
    <% if notice || alert %>
      <div class="messages">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <button data-type="close" data-parent=".messages"><%= fa_icon "close" %></button>
      </div>
    <% end %>

    <%= render "shared/header" %>

    <%= yield %>

    <footer>
      <div class="content">
        <p>&copy; Suprir Varejo <%= Time.now.strftime("%Y") %></p>
        <ul class="social-networks">
          <li class="facebook"><%= fa_icon "facebook-square" %></li>
          <li class="twitter"><%= fa_icon "twitter-square" %></li>
        </ul>
      </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <script>
      SuprirVarejo.messages();
      SuprirVarejo.dropdown();
      <%= yield :javascripts %>
    </script>
  </body>
</html>
